terraform {
  required_version = "0.12.24"

  backend "gcs" {
    credentials = "service-account.json"
    bucket = "{{ var.project }}-gitlab-env-tf-state"
    prefix = "terraform/{{ var.environment }}/state"
  }
}
